div.header.row div{
    display: inline;
}


.card{
    width: 16em;
    height: fit-content;
    padding-top: 1em;
    background-color: white;
}

.cart-button{
    width: 20px;
    height: 20px;
}

.card-img-top{
    width: 15em;
    align-self: center;
}

.cart-box{
    height: fit-content;
    overflow: hidden;
    border-bottom: darkslategray 1px solid;
    padding-bottom: 1em;
}

.cart-box img{
    width: 100%;
    display: inline;
}

.cart-box p{
    font-size: 1em;
}

.cart-title{
    font-weight: bold;
}

.cart-subtotal-line{
    font-weight: bold;
    padding: 0.2em 0.4em;
}

/* button.cart-remove{
    background-color: #FF4443;
    color: cornsilk;
} */

#confirm img{
    height: 50px;
    display: inline;
}

.feedback {
    display: none;
}

#success-response{
    border: 2px solid;
    border-color: green;
}

#fail-response{
    display: none;
    border: 2px solid;
    border-color: red;
}

