div.header.row div{
    display: inline;
}


.card{
    width: 16em;
    height: fit-content;
    padding-top: 1em;
    background-color: white;
}

.cart-button{
    width: 20px;
    height: 20px;
}

.card-img-top{
    width: 15em;
    align-self: center;
}

.cart-box{
    height: fit-content;
    overflow: hidden;
}

.cart-box img{
    height: 50px;
    display: inline;
}

.cart-box p{
    font-size: 1em;
}

#confirm img{
    height: 50px;
    display: inline;
}

.feedback {
    display: none;
}

#success-response{
    border: 2px solid;
    border-color: green;
}

#fail-response{
    display: none;
    border: 2px solid;
    border-color: red;
}

