body{
    background-color: oldlace;
}

.btn-primary{
    background-color: greenyellow;
}

.btn-secondary{
    background-color: lightcoral;
}

div.header.row div{
    display: inline;
}

#currency{
    width: 6em;
}

.card{
    width: 18em;
    height: fit-content;
    padding-top: 1em;
    background-color: white;
}

#open-cart{
    border: solid rgb(201, 201, 201) 0.5px;
    position: fixed;
    right: 8px;
    top: 8px;
    padding: 0px;
    border-radius: 50%;
    filter: drop-shadow(2px 2px 1px rgb(201, 201, 201));
}

.cart-button{
    width: 3em;
    height: 3em;
    border-radius: 50%;
    overflow: hidden;
}

.card-img-top{
    width: 15em;
    align-self: center;
}

.cart-box{
    height: fit-content;
    overflow: hidden;
    border-bottom: darkslategray 1px solid;
    padding-bottom: 0.5em;
}

.cart-box img, .confirm-box img{
    width: 100%;
    display: inline;
}

.cart-box p{
    font-size: 1em;
}

.cart-title{
    font-weight: bold;
}

.cart-subtotal-line{
    font-weight: bold;
    padding: 0.2em 0.4em;
}

.cart-remove{
    background-color: red;
    height: 17px;
    width: 20px;
    font-weight: bold;
    float: right;
    padding: 0px;
    padding-bottom: 3px;
    line-height: 0.4;
    margin-left: 0.5em;
}

.nav-tabs .nav-link{
    min-width: 70px;
    
    text-align: center;
}

#same-shipping{
    width: 20px;
}

#same-shipping-div{
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
}

.confirm-box{
    border-bottom: darkslategray 1px solid;
    padding: 0.5em 0em;
}

.feedback {
    display: none;
    font-size: smaller;
    color: lightcoral;
}

#success-response{
    border: 2px solid;
    border-color: green;
    background-color: lightgreen;
    align-items: center;
    font-weight: bold;
    margin-top: 1em;
}

#checkmark{
    font-size: 5em;
    color: white;
    text-align: center;
    border: solid green;
    border-radius: 40px;
}

#fail-response{
    display: none;
    border: 2px solid;
    border-color: red;
    background-color: lightcoral;
}

